$mobile: 568px;
$tablet: 569px;
$desktop: 961px;

@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: $mobile) {
    @content;
  }
}
