// color
$color-tiffany-100: #ebf8f7;
$color-tiffany-200: #ebfaf6;
$color-tiffany-300: #61ded7;
$color-tiffany-400: #00948b;

$color-gray-100: #bdbdbd;
$color-gray-200: #9fa0a0;
$color-gray-300: #828282;
$color-gray-400: #4f4f4f;
$color-gray-500: #333333;
$color-gray-600: #000000;

// filter
$color-tiffany-300-filter: invert(93%) sepia(82%) saturate(3562%) hue-rotate(150deg) brightness(91%) contrast(92%);
