@font-face {
  font-family: "Huninn";
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/jf-openhuninn.woff2") format("woff2");
}

body {
  font-family: "Huninn", -apple-system, BlinkMacSystemFont, sans-serif;
}
