@font-face {
  font-family: "Taipei Sans";
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/TaipeiSansTCBeta-Regular.woff2");
}

@font-face {
  font-family: "Taipei Sans";
  font-weight: bold;
  font-display: swap;
  src: url("/assets/fonts/TaipeiSansTCBeta-Bold.woff2");
}

body {
  font-family: "Taipei Sans", -apple-system, BlinkMacSystemFont, sans-serif;
}
